.content {
  min-height: calc(100vh - 65px - 179.55px);
}

.conteiner {
  max-width: 1280px;
  margin: 0 auto;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}